<div class="container">
  {{#unless favorited}}
    <h2 class="row">Newly Scraped Articles</h2>
  {{else}}
    <h2 class="row">Saved Articles</h2>
  {{/unless}}
  <div class="row">
    <div class="col-8 results">
      {{!-- {{#each_upto articles 20}} --}}{{! -- Limits loop to display first 20 articles instead of all // Requires Helper? debug --}}
        {{#each articles}}
        <div>
          <a href={{link}}><h3>{{title}}</h3>
          <p>{{summary}}</p></a>
          <div class="buttons">
            <button id="comments-btn">Comments</button>
            {{#if saved}}<button data-id="{{_id}}" class="unsave-btn">Unsave</button>{{else}}<button data-id="{{_id}}" class="save-btn">Save</button>{{/if}}
          </div>
        </div>
        {{/each}}
    </div>
    <div class="col-4">
      {{> comments}}
    </div>
  </div>
  
</div>

